*.log
.idea/
*.iml
.DS_Store

# Created by Builder
coverage
dist

# Node
logs
*.log
npm-debug.log*
node_modules
.npm

# Runtime data
pids
*.pid
*.seed

# Android
platforms/android/.gradle
platforms/android/build
platforms/android/appframework/build
platforms/android/weexplugin/build
platforms/android/app/build
docs